fastapi==0.111.0
uvicorn==0.29.0
streamlit==1.35.0
langchain==0.2.1
langchain-community==0.2.1
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
sentence-transformers==3.0.0
pypdf==4.2.0
python-multipart==0.0.9
pydantic>=2.7.4
python-dotenv==1.0.1
requests==2.32.2
torch==2.3.0
transformers==4.41.1
accelerate==0.30.0
ctransformers==0.2.27
docx2txt==0.8
